.background{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.Sobre{
    text-align: center;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
   
}

.Sobre img{
    width: 50%;
    padding: 20px;
   
}

.Sobre h1{
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px auto;
}

.Sobre p{
    text-align: center;
    margin: 20px auto;
}

.Card{
   
    display: flex;
    justify-content:center;
    padding: 100px 20px;
}

@media (max-width: 762px){
    .Sobre img{
        width: 80%;
        padding: 10px 20px;

    }

    .Sobre p{
        padding: 10px 20px;
        margin: 0 auto;
        width: 75%;
        text-align: justify;
    }

    .Card{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}