.Banner{
    

    background-image: url('/public/assets/Banner-3.jpg');
    background-repeat: no-repeat;
    background-position:  center  ;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color: rgb(235, 235, 235);
   
    
  
}



.Banner h3{
    text-shadow: 1px 1px 2px rgb(58, 58, 58), 0 0 1em rgb(39, 39, 65), 0 0 0.2em rgb(37, 37, 65);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.Banner p{
    text-shadow: 1px 1px 2px rgb(58, 58, 58), 0 0 1em rgb(39, 39, 65), 0 0 0.2em rgb(37, 37, 65);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bg{
    
   
    text-align: center;
    padding: 20px;
    
}

@media (max-width: 762px){
    .Banner h1{
        text-align: center;
        font-size: 40px;
        margin: 0 auto;
    }

    .bg{
        width: 70%;
    }
}