.Horarios{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
    text-align: left;
    height: 100%;
    gap: 20px;
    padding: 100px 20px;
    
}

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #e4e4e4;
    gap: 30px;
    width: 100%;
   padding: 30px;
   
    
    
    
  
}

.conteudo ul{
   list-style: none;
   
    height: 100%;
   padding: 20px;
   margin: 0 auto;
   width: 100%;
   color: rgb(54, 54, 54);
}

.conteudo ul p{
    color: rgb(1, 41, 49);
    font-weight: 600;
}

.loc{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 10px;
}

.loc img{
    width: 20px;
    filter: invert(100%);
}

.loc a{
    font-size: 23px;
    padding: 10px;
    background-color: green;
    border-radius: 25px;
    font-weight: bold;
    color: white;
}

@media (max-width:762px){
   .Horarios{
    margin: 0 auto;
   }
   
    .conteudo{
        text-align: center;
        gap: 20px;
        flex-direction: column;
        margin: 0 auto;
        width: 75%;
        padding: 10px;
    }
    .conteudo li{
        padding: 10px;
    }
    .loc iframe{
        width: 70%;
        padding: 20px;
        
    }
}

